POSTGRES_USER=boardgame_app
POSTGRES_PASSWORD=change_me
POSTGRES_DB=boardgame_db

POSTGRES_HOST_PORT=5433

RUSTFS_ACCESS_KEY=boardgame_admin
RUSTFS_SECRET_KEY=change_me_strong_password

RUSTFS_API_PORT=9000
RUSTFS_CONSOLE_PORT=9001